{% extends "base.html" %}
{% block title %}Accueil{% endblock %}

{% block content %}

    <main class="mosaique">
        <div class="colonne">
            <div class="c3">Bloc 1</div>
            <!-- Afficher une image avec le nom du club par dessus (plusieurs photos disponibles), défile avec les autres clubs -->
            <div class="c4">Bloc 2</div>
            <div class="c2">Bloc 3</div>
        </div>
        <div class="colonne">
            <div class="c1">Bloc 4</div>
            <div class="c5">Bloc 5</div>
            <div class="c3">Bloc 6</div>
        </div>
        <div class="colonne">
            <div class="c2">Bloc 7</div>
            <div class="c4">Bloc 8</div>
            <div class="c1">Bloc 9</div>
        </div>
    </main>

{% endblock %}