
{% extends "base.html" %}
{% block title %}S'enregistrer{% endblock %}

{% block content %}

    <main class="login-section">
        <form class="login-form" action="#" method="post">
            <h1>Créer un compte</h1>

            <label for="username">Identifiant</label>
            <input type="text" id="username" name="username" required />

            <label for="email">Adresse e-mail</label>
            <input type="email" id="email" name="email" required />

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required />

            <label for="confirm-password">Confirmer le mot de passe</label>
            <input type="password" id="confirm-password" name="confirm-password" required />

            <button type="submit" class="btn-login">S'inscrire</button>
            <p class="signup-link">Déjà inscrit ? <a href="{{url_for('static_page.login')}}">Se connecter</a></p>
        </form>
    </main>
{% endblock %}
